<section>
  <div class="text-right pb-5">
    <a class="btn default-color-dark btn-md text-white" [routerLink]="['../update', 0]">
      <b><i class="fa fa-plus mr-1" aria-hidden="true"></i>&nbsp;Create new event</b></a>
  </div>
  <div class="card card-body">
    <h4 class="card-title">My Events</h4>
    <br>
    <div class="card-text">
      <div *ngFor="let userEvent of usersEvent">
        <div class="row">
          <div class="col-sm-2 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1-half">
              <img *ngIf="userEvent.contents.length !== 0 && userEvent.contents[0].fileType !== 'video'" [src]="userEvent.contents[0]?.src" class="img-fluid">
              <img *ngIf="userEvent.contents.length === 0 || userEvent.contents[0].fileType === 'video'" class="img-fluid"
                   src="../../../assets/images/basic.JPG">
            </div>
          </div>
          <div class="col-sm-10 mb-4">
            <div class="font-weight-bold dark-grey-text">
              <strong>{{userEvent.title}}</strong>
            </div>
            <p class="grey-text"><br>{{userEvent.description}}</p>
            <div><i class="fa fa-calendar-o" aria-hidden="true"></i>
              <span>{{userEvent.startDate | date :['y MMM d, h:mm a']}} - {{userEvent.endDate | date :['y MMM d, h:mm a']}}</span>
            </div>
            <div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>{{userEvent.location.address}}</span>
            </div>
            <br>
            <span class="badge badge-default" *ngFor="let category of userEvent.categories">{{category.name}}</span>
            <span class="badge badge-primary"
                  *ngFor="let scategory of userEvent.secondCategories">{{scategory.name}}</span>

            <span [routerLink]="['../update', userEvent.id]" class="badge badge-default update"><i
              class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></span>
          </div>
        </div>
        <hr class="mb-5">
      </div>
    </div>
  </div>
</section>
<br>
