i.fa.fa-asterisk.prefix {
  font-size: x-small;
  font-weight: lighter;
  margin-top: -2px;
  margin-left: 13px;
  color: lightcoral;
}

i.fa.fa-user.prefix.dark-grey-text,
i.fa.fa-envelope.prefix.dark-grey-text,
i.fa.fa-lock.prefix.dark-grey-text {
  font-size: medium;
  margin-top: 2px;
}
