<div class="card card-body">
  <div class="float-right" style="text-align: right">
    <share-button [size]="-7" button="facebook"></share-button>
    <share-button [size]="-7" button="twitter"></share-button>
    <share-button [size]="-7" button="pinterest"></share-button>
  </div>
  <h4 class="card-title">{{happening.title}}</h4>
  <div class="card-text">
    <div class="row card-text">
      <div class="col-sm-12">
        {{happening.description}}
      </div>
    </div>
    <br>
    <div class="row card-text">
      <div class="col-sm-12">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>{{happening.startDate | date}} - {{happening.endDate | date}}
      </div>
    </div>
    <div class="row card-text">
      <div class="col-sm-12"><i class="fa fa-map-marker" aria-hidden="true"></i> {{happening.location.address}}</div>
    </div>
    <br>
    <span class="badge badge-default" *ngFor="let category of happening.categories">{{category.name}}</span>
    <span class="badge badge-primary" *ngFor="let scategory of happening.secondCategories">{{scategory.name}}</span>
    <hr>
    <div style="text-align: center">
      <div *ngFor="let content of happening.contents" style="display: inline-block">
        <img *ngIf="content?.fileType === 'image'" class="float-left" [src]="content.src">
        <video class="float-left" controls *ngIf="content?.fileType === 'video'">
          <source [src]="content.src" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</div>
<br>
